/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
# /vendor (Comentado para permitir el despliegue en Vercel)
/.vite
/dist
.env
.env.backup
.env.production
*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db
